// ==========================================
// FORMS
// ==========================================

@use "../abstracts/" as a;

#search-form {
  max-width: 500px;
  padding-right: 1rem;
  width: 100%;
}

.search-box {
  background-color: #00000066;
  border: none;
  border-radius: 5rem;
  color: #fff;
  font-family: a.$body-font;
  padding: 0.5rem;
  padding-right: 1rem;
  text-align: right;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #aaa;
    text-align: right;
  }

  @media screen and (min-width: 576px) {
    padding: .65rem;
    padding-right: 1rem;
  }
}
