// ==========================================
// PAGES
// ==========================================

@use "../abstracts/" as a;

// Main Page

.page-content {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: 75px 1fr 50px;
  height: 100vh;
  width: 100vw;
}

.site-header {
  backdrop-filter: blur(10px);
  background-color: #00000055;
  display: flex;
  grid-area: header;
  justify-content: center;

  &__inner-wrapper {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
  }
}

.movie-box {
  display: flex;
  grid-area: body;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 1rem 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 1rem;
    width: 100%;
  }

  &__display-box {
    display: grid;
    gap: 1rem;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(1, 1fr);
    margin-right: -0.75rem;
    max-width: 1000px;
    width: 100%;
  }

  @media screen and (min-width: 576px) {
    &__wrapper {
      padding: unset;
      transition: color .4s ease;

      &:hover {
        color: #aaa;
      }
    }

    &__display-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 768px) { 
    &__display-box {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 992px) { 
    &__display-box {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.movie {
  animation: movieFadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;

  &-description {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  
  &-details {
    backdrop-filter: blur(10px);
    background-color: #00000099;
    border-radius: .5rem .5rem 0 0;
    // bottom: 0; // For testing purposes.
    bottom: calc(-75% - 5px); // For testing purposes.
    display: grid;
    // grid-template-rows: minmax(min-content, max-content);
    // grid-template-rows: repeat(3, 1fr);
    max-height: 100%;
    min-height: 75%;
    // opacity: 0;
    overflow-y: overlay;
    // padding: 1rem;
    position: absolute;
    transition: bottom 0.4s ease;
    width: 100%;

    &::-webkit-scrollbar-track {
      background: transparent;
      margin-top: unset;
      margin-bottom: unset;
    }
  }

  &-genre-box {
    align-self: end;
    color: #fff;
    flex-wrap: wrap;
    font-family: a.$body-font;
    font-size: .8rem;
    font-weight: normal;
    // display: flex;
    gap: 0.5rem;
    // height: 100%;
    letter-spacing: normal;
    padding: 0.75rem;
    text-transform: capitalize;
    width: 100%;
  }

  &-genre-tag {
    background-color: #ffffff22;
    border-radius: 5rem;
    cursor: pointer;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.3rem 0.5rem;
    transition: background-color .2s ease;

    &:hover {
      background-color: #ffffff55;
    }
  }

  &-panel {
    animation: movieFadeIn .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #00000055;
    grid-area: body;
    position: relative;
    z-index: 2;
  }
  
  &-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:before {
      background: #111;
      content: "";
      display: block;
      height: 100%;
    }

    &:after {
      background-image: url('../assets/images/film-reel-icon.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 100%;
      left: 50%;
      opacity: 0.1;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &-rating-box {
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
  }

  &-rating-count {
    // align-self: end;
    color: #bbb;
    cursor: default;
    font-family: a.$body-font;
    font-size: .8rem;
    font-weight: normal;
    letter-spacing: normal;
  }

  &-rating {
    color: #bbb;
    cursor: default;
    font-family: a.$body-font;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: normal;

    span {
      color: #fff;
      font-weight: bold;
    }
  }

  &-title {
    color: #fff;
    cursor: pointer;
    font-family: a.$body-font;
    font-size: 1.15rem;
    font-weight: normal;
    letter-spacing: normal;
    padding: 1rem;
    text-transform: capitalize;
    transition: color .2s ease;

    &:hover {
      color: a.$primary-color;
    }
  }

  &-year {
    color: #fff;
    cursor: default;
    font-family: a.$body-font;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: normal;
    padding-right: 0.5rem;
  }

  
  @media screen and (min-width: 576px) {
    &:hover &-details {
      bottom: 0%;
    }
  }
}

.close-button {
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}

.x-button {
  background: #fff;
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 100%;
  
  &::after {
    background: #fff;
    content: "";
    display: block;
    height: 1px;
    transform: rotate(90deg);
  }
}

@keyframes movieFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-footer {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #00000055;
  display: flex;
  grid-area: footer;
  justify-content: center;

  &__inner-wrapper {
    max-width: 500px;

    h1 {
      color: #aaa;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}

.bg-img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}
