/* ==========================================
/ PAGES
========================================== */

@use "../abstracts/" as a;

// Main Page

.page-content {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: 75px 1fr 50px;
  height: 100vh;
  width: 100vw;
}

.site-header {
  backdrop-filter: blur(10px);
  background-color: #00000055;
  display: flex;
  grid-area: header;
  justify-content: center;

  &__inner-wrapper {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
  }
}

.movies {
  display: flex;
  grid-area: body;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 1rem 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 1rem;
    width: 100%;
  }

  &__display-box {
    display: grid;
    gap: 1rem;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(1, 1fr);
    margin-right: -0.75rem;
    max-width: 1000px;
    width: 100%;
  }

  @media screen and (min-width: 576px) {
    &__wrapper {
      padding: unset;
      transition: color 0.4s ease;

      &:hover {
        color: #aaa;
      }
    }

    &__display-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 768px) {
    &__display-box {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 992px) {
    &__display-box {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// Movies Display Box

.movie {
  animation: movieFadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;

  &-cert {
    color: #fff;
    cursor: default;
    font-family: a.$body-font;
    font-size: 1.2rem;
    letter-spacing: normal;
    padding-left: 0.5rem;
  }

  &-description {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  &-details {
    backdrop-filter: blur(10px);
    background-color: #00000099;
    border-radius: 0.5rem 0.5rem 0 0;
    // bottom: 0; // For testing purposes.
    bottom: calc(-75% - 5px); // The main position.
    display: grid;
    // grid-template-rows: minmax(min-content, max-content);
    // grid-template-rows: repeat(3, 1fr);
    max-height: 100%;
    min-height: 75%;
    // opacity: 0;
    overflow-y: overlay;
    // padding: 1rem;
    position: absolute;
    transition: bottom 0.4s ease;
    width: 100%;

    &::-webkit-scrollbar-track {
      background: transparent;
      margin-top: unset;
      margin-bottom: unset;
    }
  }

  // The box for a movie's genres:

  &-genre-box {
    align-self: end;
    color: #fff;
    flex-wrap: wrap;
    font-family: a.$body-font;
    font-size: 0.8rem;
    font-weight: normal;
    // display: flex;
    gap: 0.5rem;
    // height: 100%;
    letter-spacing: normal;
    padding: 0.75rem;
    text-transform: capitalize;
    width: 100%;
  }

  &-genre-tag {
    background-color: #ffffff22;
    border-radius: 5rem;
    cursor: pointer;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.3rem 0.5rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #ffffff55;
    }
  }

  &-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:before {
      background: #111;
      content: "";
      display: block;
      height: 100%;
    }

    &:after {
      background-image: url("../assets/images/film-reel-icon.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 100%;
      left: 50%;
      opacity: 0.1;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &-rating {
    color: #bbb;
    cursor: default;
    font-family: a.$body-font;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: normal;

    &-box {
      border-left: 1px solid white;
      border-right: 1px solid white;
      display: flex;
      flex-direction: column;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &-count {
      // align-self: end;
      color: #bbb;
      cursor: default;
      font-family: a.$body-font;
      font-size: 0.8rem;
      font-weight: normal;
      letter-spacing: normal;
    }

    span {
      color: #fff;
      font-weight: bold;
    }
  }

  &-title {
    color: #fff;
    cursor: pointer;
    font-family: a.$body-font;
    font-size: 1.15rem;
    font-weight: normal;
    letter-spacing: normal;
    padding: 1rem;
    text-transform: capitalize;
    transition: color 0.2s ease;

    &:hover {
      color: a.$primary-color;
    }
  }

  &-year {
    color: #fff;
    cursor: default;
    font-family: a.$body-font;
    font-size: 1.3rem;
    // font-weight: normal;
    letter-spacing: normal;
    padding-right: 0.5rem;
  }

  &:hover &-details {
    bottom: 0%;
  }
}

/* ================================== 
Selected Movie Details Panel
================================== */

// Shows or hides the details panel:

.display-checkbox {
  grid-area: body;
  display: none;

  &:checked ~ .panel {
    // display: block;
    opacity: 1;
    pointer-events: all;
  }
}

// The main panel itself:

.panel {
  align-items: center;
  background-color: #050505;
  display: flex;
  grid-area: body;
  justify-content: center;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 1.5rem;
  pointer-events: none;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;

  &-bg-poster {
    filter: blur(200px) saturate(2.5);
    height: 100%;
    left: -25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  &-details {
    // background-color: #111;
    border-radius: 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
      "title-block"
      "poster"
      "summary"
      "rating-block"
    ;
    // grid-template-columns: unset;
    height: 100%;
    max-width: 1000px;
    overflow: overlay;
    // padding: 1rem;
    width: 100%;

    h3,
    h4 {
      color: #fff;
      font-family: a.$body-font;
      font-size: 1.6rem;
      font-weight: normal;
      letter-spacing: normal;
      text-transform: capitalize;
    }

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 1rem;
      padding-left: 0.15rem;
    }

    span {
      font-size: 1.3rem;
    }
  }

  &-genre-tag {
    background-color: #ffffff22;
    border-radius: 5rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0.25rem;
    padding: 0.1rem 0.5rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #ffffff55;
    }
  }

  &-genres-block {
    padding-bottom: .75rem;
  }

  &-poster {
    border-radius: .5rem;
    grid-area: poster;
    justify-self: center;
    width: 100%;
  }

  &-rating-block {
    grid-area: rating-block;
    justify-self: center;

    h3, h4 {
      display: inline-block;
    }

    h4::before {
      content: "•";
      padding: 0 0.5rem 0 0.3rem;
    }

    span {
      font-weight: bold;
    }
  }

  &-summary {
    color: a.$secondary-color;
    display: grid;
    grid-template-rows: min-content;
    font-family: a.$body-font;
    grid-area: summary;
    line-height: 1.6rem;

    .director {
      margin-bottom: .75rem;
    }
  }

  &-title-block {
    display: grid;
    gap: 1rem;
    grid-area: title-block;
    grid-template-rows: min-content;
    padding-left: 0.25rem;

    h3 {
      font-size: 1.6rem;
    }
  }

  @media screen and (min-width: 576px) {
    &-bg-poster {
      filter: blur(200px) brightness(.25) saturate(2.5);
      height: unset;
    }

    &-details {
      grid-template-areas: 
        "poster title-block rating-block"
        "poster summary summary"
      ;
      grid-template-columns: 1fr auto 100px;
      grid-template-rows: auto 1fr 100%;
      height: unset;
      overflow: unset;
    }

    &-genre-tag {
      font-size: 1rem;
      padding: 0.3rem 0.5rem 0.2rem;
    }

    &-genres-block {
      justify-content: unset;
      padding-bottom: unset;
      padding-top: 0.75rem;
    }

    &-poster {
      justify-self: unset;
      max-width: 240px;
      width: unset;
    }

    &-rating-block {
      justify-self: end;

       h3, h4 {
         display: block;
       }

       h3 {
         font-size: 1.3rem;
       }

       h4 {
         font-size: .85rem;
         text-align: right;

         &::before {
           content: "";
         }
       }

       span {
         font-size: 1.6rem;
       }
    }

    &-summary {
      // align-content: end;
      grid-template-areas: 
        "director"
        "summary"
        "genres"
      ;

      .director {
        grid-area: director;
        padding-left: 0.25rem;
      }

      .summary {
        grid-area: summary;
        padding-left: .25rem;
      }
    }

    &-title-block {

      h3 {
        font-size: 2rem;
      }

      span {
        padding: .5rem;
      }
    }
  }
}

// CLOSE BUTTON

.close-button {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.2s ease-in-out;
  width: 30px;

  &:hover {
    background-color: #ffffff55;
  }

  @media screen and (min-width: 576px) {
    height: 40px;
    width: 40px;
  }
}

.x-button {
  background: #fff;
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 50%;

  &::after {
    background: #fff;
    content: "";
    display: block;
    height: 1px;
    transform: rotate(90deg);
  }
}

@keyframes movieFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
