@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Steelfish";
  src: url("../assets/fonts/steelfish.ttf");
}
@font-face {
  font-family: "Steelfish";
  src: url("../assets/fonts/steelfish.ttf");
}
#search-form {
  max-width: 500px;
  padding-right: 1rem;
  width: 100%;
}

.search-box {
  background-color: #00000066;
  border: none;
  border-radius: 5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  padding-right: 1rem;
  text-align: right;
  width: 100%;
}

.search-box:focus {
  outline: none;
}

.search-box::placeholder {
  color: #aaa;
  text-align: right;
}

@media screen and (min-width: 576px) {
  .search-box {
    padding: 0.65rem;
    padding-right: 1rem;
  }
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: transparent;
  transition: color 0.4s ease;
}

body:hover {
  color: #aaa;
}

.page-content {
  display: grid;
  grid-template-areas: "header" "body" "footer";
  grid-template-rows: 75px 1fr 50px;
  height: 100vh;
  width: 100vw;
}

.site-header {
  backdrop-filter: blur(10px);
  background-color: #00000055;
  display: flex;
  grid-area: header;
  justify-content: center;
}

.site-header__inner-wrapper {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.movie-box {
  display: flex;
  grid-area: body;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 1rem 0;
}

.movie-box__wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 1rem;
  width: 100%;
}

.movie-box__display-box {
  display: grid;
  gap: 1rem;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(1, 1fr);
  margin-right: -0.75rem;
  max-width: 1000px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .movie-box__wrapper {
    padding: unset;
  }

  .movie-box__display-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .movie-box__display-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .movie-box__display-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
.movie {
  animation: movieFadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: relative;
}

.movie-details {
  backdrop-filter: blur(10px);
  background-color: #00000099;
  border-radius: 0.5rem 0.5rem 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 35%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  top: 100%;
  transition: top 0.4s ease;
  width: 100%;
}

.movie-genre-box {
  color: #fff;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  gap: 0.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  width: 100%;
}

.movie-genre-tag {
  background-color: #ffffff22;
  border-radius: 5rem;
  cursor: default;
  display: inline-block;
  padding: 0.3rem 0.5rem;
}

.movie-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-title {
  color: #fff;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}

.movie:hover .movie-details {
  top: 35%;
}

@keyframes movieFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.site-footer {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #00000055;
  display: flex;
  grid-area: footer;
  justify-content: center;
}

.site-footer__inner-wrapper {
  max-width: 500px;
}

.site-footer__inner-wrapper h1 {
  color: #aaa;
  font-size: 1rem;
  font-weight: normal;
}

.bg-img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Steelfish", sans-serif;
  letter-spacing: 0.1rem;
  margin: 0;
  text-transform: uppercase;
}

a.site-logo-wrapper {
  color: #0bf;
  padding: 1rem;
  padding-right: 0.25rem;
  text-decoration: none;
}

a.site-logo-wrapper h1 {
  font-size: 1.6rem;
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 576px) {
  a.site-logo-wrapper {
    padding-right: 1rem;
  }

  a.site-logo-wrapper h1 {
    font-size: 2.5rem;
    margin-bottom: 0.15rem;
  }
}

/*# sourceMappingURL=styles.css.map */
