@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Steelfish";
  src: url("../assets/fonts/steelfish.ttf");
}
@font-face {
  font-family: "Steelfish";
  src: url("../assets/fonts/steelfish.ttf");
}
#search-form {
  max-width: 500px;
  padding-right: 1rem;
  width: 100%;
}

.search-box {
  background-color: #00000066;
  border: none;
  border-radius: 5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  padding-right: 1rem;
  text-align: right;
  width: 100%;
}

.search-box:focus {
  outline: none;
}

.search-box::placeholder {
  color: #aaa;
  text-align: right;
}

@media screen and (min-width: 576px) {
  .search-box {
    padding: 0.65rem;
    padding-right: 1rem;
  }
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: transparent;
}

.bg-img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

.site-footer {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #00000055;
  display: flex;
  grid-area: footer;
  justify-content: center;
}

.site-footer__inner-wrapper {
  max-width: 500px;
}

.site-footer__inner-wrapper h1 {
  color: #aaa;
  font-size: 1rem;
  font-weight: normal;
}

.page-content {
  display: grid;
  grid-template-areas: "header" "body" "footer";
  grid-template-rows: 75px 1fr 50px;
  height: 100vh;
  width: 100vw;
}

.site-header {
  backdrop-filter: blur(10px);
  background-color: #00000055;
  display: flex;
  grid-area: header;
  justify-content: center;
}

.site-header__inner-wrapper {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.movies {
  display: flex;
  grid-area: body;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 1rem 0;
}

.movies__wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 1rem;
  width: 100%;
}

.movies__display-box {
  display: grid;
  gap: 1rem;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(1, 1fr);
  margin-right: -0.75rem;
  max-width: 1000px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .movies__wrapper {
    padding: unset;
    transition: color 0.4s ease;
  }

  .movies__wrapper:hover {
    color: #aaa;
  }

  .movies__display-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .movies__display-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .movies__display-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
.movie {
  animation: movieFadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.movie-cert {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  letter-spacing: normal;
  padding-left: 0.5rem;
}

.movie-description {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.movie-details {
  backdrop-filter: blur(10px);
  background-color: #00000099;
  border-radius: 0.5rem 0.5rem 0 0;
  bottom: calc(-75% - 5px);
  display: grid;
  max-height: 100%;
  min-height: 75%;
  overflow-y: overlay;
  position: absolute;
  transition: bottom 0.4s ease;
  width: 100%;
}

.movie-details::-webkit-scrollbar-track {
  background: transparent;
  margin-top: unset;
  margin-bottom: unset;
}

.movie-genre-box {
  align-self: end;
  color: #fff;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  gap: 0.5rem;
  letter-spacing: normal;
  padding: 0.75rem;
  text-transform: capitalize;
  width: 100%;
}

.movie-genre-tag {
  background-color: #ffffff22;
  border-radius: 5rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.3rem 0.5rem;
  transition: background-color 0.2s ease;
}

.movie-genre-tag:hover {
  background-color: #ffffff55;
}

.movie-panel {
  align-items: center;
  background-color: #00000099;
  display: flex;
  grid-area: body;
  justify-content: center;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}

.movie-panel-details {
  background-color: #111;
  border-radius: 0.5rem;
  height: 100%;
  max-width: 1000px;
  overflow: overlay;
  padding: 1rem;
  width: 100%;
}

.movie-panel-details h3, .movie-panel-details h4 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: capitalize;
}

.movie-panel-details h4 {
  font-size: 1rem;
}

.movie-poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-poster:before {
  background: #111;
  content: "";
  display: block;
  height: 100%;
}

.movie-poster:after {
  background-image: url("../assets/images/film-reel-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.movie-rating {
  color: #bbb;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: normal;
}

.movie-rating-box {
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.movie-rating-count {
  color: #bbb;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: normal;
}

.movie-rating span {
  color: #fff;
  font-weight: bold;
}

.movie-title {
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: normal;
  letter-spacing: normal;
  padding: 1rem;
  text-transform: capitalize;
  transition: color 0.2s ease;
}

.movie-title:hover {
  color: #0bf;
}

.movie-year {
  color: #fff;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  letter-spacing: normal;
  padding-right: 0.5rem;
}

@media screen and (min-width: 576px) {
  .movie:hover .movie-details {
    bottom: 0%;
  }
}
.display-checkbox {
  grid-area: body;
  display: none;
}

.display-checkbox:checked ~ .movie-panel {
  opacity: 1;
  pointer-events: all;
}

.panel-poster {
  max-width: 240px;
}

.close-button {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.2s ease-in-out;
  width: 20px;
}

.close-button:hover {
  background-color: #ffffff55;
}

@media screen and (min-width: 576px) {
  .close-button {
    height: 40px;
    width: 40px;
  }
}
.x-button {
  background: #fff;
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 50%;
}

.x-button::after {
  background: #fff;
  content: "";
  display: block;
  height: 1px;
  transform: rotate(90deg);
}

@keyframes movieFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Steelfish", sans-serif;
  letter-spacing: 0.1rem;
  margin: 0;
  text-transform: uppercase;
}

a.site-logo-wrapper {
  color: #0bf;
  padding: 1rem;
  padding-right: 0.25rem;
  text-decoration: none;
}

a.site-logo-wrapper h1 {
  font-size: 1.6rem;
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 576px) {
  a.site-logo-wrapper {
    padding-right: 1rem;
  }

  a.site-logo-wrapper h1 {
    font-size: 2.5rem;
    margin-bottom: 0.15rem;
  }
}

/*# sourceMappingURL=styles.css.map */
